body{
    background-color: #1e1e1e;
}
.navbar{
    background-color: black;
}

.navbar span{
    color: white;
}

p{
    color: white;
}
form {
    color: white;
    margin: 20px;
}

label, input {
    display: block;
    margin: 5px 0;
}

input {
    padding: 5px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #666;
}

.logout-form {
    margin: 20px;
    padding: 0;
}

.logout-button {
    background-color: #dc3545;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
}

.logout-button:hover {
    background-color: #c82333;
}