<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title id="artistName" th:object="${artist}" th:text="${name}">Dettaglio Artista</title>
    <link rel="stylesheet" th:href="@{/css/artist.css}">
</head>
<body>

<nav>
    <a th:href="@{/home}"> < Home </a>
</nav>
<main class="container">
    <div th:if="${artist != null}">
        <h1 th:text="${artist.name}">Nome Artista</h1>

        <!-- immagine (da controllare)
        <div th:if="${artist.imagePath != null && !artist.imagePath.isEmpty()}">
            <img th:src="@{'/images/' + ${artist.imagePath}}" alt="Foto di [[${artist.name}]]" />
        </div> -->


        <div th:if="${artist.description != null && !artist.description.isEmpty()}">
            <p><strong>Descrizione:</strong></p>
            <p th:text="${artist.description}">Descrizione artista</p>
        </div>
        <div th:if="${artist.description == null || artist.description.isEmpty()}">
            <p>Nessuna descrizione disponibile per questo artista.</p>
        </div>

        <div th:if="${artist.musics != null}">
            <div th:each="music : ${artist.musics}">
                <a th:text="${music.title}" th:href="@{'/music/' + ${music.id}}">musiche</a>
            </div>
        </div>
    </div>

    <div th:if="${artist == null}">
        <p>Artista non trovato.</p>
    </div>

    <p><a th:href="@{/artists}">Torna alla lista degli artisti</a></p>
</main>
</body>
</html>
