<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title id="artistName" th:object="${artist}" th:text="${name}">Dettaglio Artista</title>
    <link rel="stylesheet" th:href="@{/css/artist.css}">
</head>
<body>

<nav>
    <a class="home-button" th:href="@{/home}">Home</a>
</nav>

<main class="container">
    <div th:if="${artist != null}">
        <h1 th:text="${artist.name}">Nome Artista</h1>

        <div th:if="${artist.photoUrl != null && !artist.photoUrl.isEmpty()}">
            <img th:src="@{'/artists-photo/' + ${artist.photoUrl}}" alt=""/>
        </div>

        <div th:if="${artist.description != null && !artist.description.isEmpty()}">
            <p><strong>Descrizione:</strong></p>
            <p th:text="${artist.description}">Descrizione artista</p>
        </div>

        <div th:if="${artist.description == null || artist.description.isEmpty()}">
            <p>Nessuna descrizione disponibile per questo artista.</p>
        </div>

        <div th:if="${artist.musics != null}">
            <p><strong>Brani artista:</strong></p>
            <div th:each="music : ${artist.musics}">
                <a th:text="${music.title}" th:href="@{'/music/' + ${music.id}}">musiche</a>
            </div>
        </div>
    </div>

    <div th:if="${artist == null}">
        <p>Artista non trovato.</p>
    </div>

    <p><a th:href="@{/artists}">Torna alla lista degli artisti</a></p>
</main>

</body>
</html>
