<!DOCTYPE html>
<!--http://www.thymeleaf.org/extras/spring-security: per la sola visualizzazione degli amministratori-->

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
</head>
<body>
<div class="navbar">

    <span>MusicApp</span>

    <!--  Solo per gli amministratori ===== -->
    <div class="admin-nav-links" sec:authorize="hasAuthority('ADMIN')">
        <a th:href="@{/music/add}">Aggiungi Musica</a>
        <a th:href="@{/formAddArtist}">Aggiungi Artista</a>
    </div>


    <div class="round-button">
        <a th:href="@{/profile}" title="Profilo Utente">
            <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="#fff" viewBox="0 0 24 24">
                <path d="M12 2a5 5 0 1 1 0 10 5 5 0 0 1 0-10zm0 12c-4.418 0-8 2.239-8 5v3h16v-3c0-2.761-3.582-5-8-5z"/>
            </svg>
        </a>
    </div>

</div>

<div class="container">
    <h1>Benvenuto su MusicApp!</h1>
    <p>Esplora la nostra collezione di musica e artisti.</p>

    <!-- Barra di Ricerca -->
    <div class="search-container">
        <form th:action="@{/search}" method="get">
            <input type="text" name="query" placeholder="Cerca artisti, musiche...">
            <button type="submit">Cerca</button>
        </form>
    </div>

    <!-- Messaggio di Feedback della Ricerca -->
    <div th:if="${searchMessage}" class="search-feedback info">
        <p th:text="${searchMessage}"></p>
    </div>

    <!-- Bottoni di Navigazione -->
    <div class="nav-buttons">
        <a th:href="@{/artists}">Vedi tutti gli Artisti</a>
        <a th:href="@{/music/all}">Vedi tutte le Musiche</a>
    </div>
</div>

</body>
</html>